<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天天生鲜--{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    {% block head %}
        <script>
            $(function () {
                // 给商品模块中侧边栏的icon小图标设置样式 新鲜水果、海鲜水产等标题
                $('.subnav li').eq(0).children('a').addClass('fruit');
                $('.subnav li').eq(1).children('a').addClass('seafood');
                $('.subnav li').eq(2).children('a').addClass('meet');
                $('.subnav li').eq(3).children('a').addClass('egg');
                $('.subnav li').eq(4).children('a').addClass('vegetables');
                $('.subnav li').eq(5).children('a').addClass('ice');
            });
	    </script>
    {% endblock head %}
</head>
<body>
    {% block body_header %}
        <div class="header_con">
            <div class="header">
                <div class="welcome fl">欢迎来到天天生鲜!</div>
                <div class="fr">
                    {% if request.session.u_id %}
                    <div class=" login_btn fl">
                        欢迎您：<em style="color:#ff8800;">{{ request.session.u_name }}</em>
                        <span>|</span>
                        <a href="/user/logout/">退出</a>
                    </div>
                    {% else %}
                        <div class="login_btn fl">
                        <a href="/user/login/">登录</a>
                        <span>|</span>
                        <a href="/user/register/">注册</a>
                    </div>
                    {% endif %}
                    <div class="user_link fl">
                        <span>|</span>
                        <a href="/user/">用户中心</a>
                        <span>|</span>
                        <a href="/cart/">我的购物车</a>
                        <span>|</span>
                        <a href="/user/order/">我的订单</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="search_bar clearfix">
            <a href="/" class="logo fl"><img src="/static/images/logo.png"></a>

            {% if cart_show|default:'0' == '1' %} {# 判断是否有session值 #}
                <div class="search_con fl">
                    <form action="/search/" method="get" target="_blank">
                        <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
                        <input type="submit" class="input_btn fr" name="" value="搜索">
                    </form>
                </div>
                <div class="guest_cart fr">
                    <a href="/cart/" class="cart_name fl">我的购物车</a>
                    <div class="goods_count fl" id="show_count">0</div>
                </div>

                <script>

                    // 判断类名.login_btn的div中是否有‘登录’二字，有则未登录，没有则认为已经登录
                    if ($('.login_btn').text().indexOf('登录') < 0) {  // 没有登录二字，认为已经登录
                        // 显示该用户购物车数量
                        $.get('/cart/count/', function (data) {
                            $('#show_count').html('0');
                            if (data.count != '0') {
                                $('#show_count').html(data.count);
                            }
                            else {
                                $('#show_count').html('0');
                            }
                        });
                    }
                </script>
            {% else %}
                <div class="sub_page_name fl"> &nbsp; | &nbsp;&nbsp;&nbsp; {{ title }}</div>
                <div class="search_con fr">
                    <form action="/search/" method="get" target="_blank">
                        <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
                        <input type="submit" class="input_btn fr" name="" value="搜索">
                    </form>
                </div>
            {% endif %}
	    </div>
    {% endblock body_header %}


    {% block body_main %}{% endblock body_main %}


    <div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
</body>
</html>