{% extends 'base.html' %}


{% block body_main %}

    <div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
					{% for type in t_all %}
					<li><a href="/list/{{ type.id }}/1" class="fruit">{{ type.g_title }}</a></li>
					{% endfor %}
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="/">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="/">抽奖</a></li>
			</ul>
		</div>
	</div>

    {% block goods_nav %}{% endblock goods_nav %}

    <div class="main_wrap clearfix">
		{% block goods_map %}
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{% for goods in n_list %}
						<li>
                            <a href="/detail/{{goods.id}}"><img src="/static/{{ goods.g_pic }}"></a>
                            <h4><a href="/detail/{{goods.id}}">{{ goods.g_title }}</a></h4>
                            <div class="prize">￥{{ goods.g_price }}</div>
                        </li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endblock goods_map %}
        {% block goods_detail %}{% endblock goods_detail %}
	</div>
{% endblock body_main %}