{% extends 'app_goods/base.html' %}

{% block head %}
	{{ block.super }}
	<script type="text/javascript">
		$(function () {

			// 填写商品数量
			$('.num_show').blur(function () {
			    var iVal = parseInt($(this).val());  // 商品数量
			    var iStock = parseInt($('#g_stock').val());  // 商品库存
				var iPrice = parseFloat($('.show_pirze em').text());  // 商品单价

			    if (iVal < 1) {
			        iVal = 1;
				}
				else if (iVal > iStock) {
			        iVal = iStock;
				}
				else if (isNaN(iVal)) {
			        iVal = 1;
				}

				var iTotal = iVal * iPrice;  // 总价
				$('.total em').text(iTotal.toFixed(2) + '元');  // 保留小数2位
				$(this).val(iVal);  // 设置商品数量
            });
			// 数量+1
			$('.add').click(function () {
				var iNum = parseInt($('.num_show').val());
				iNum ++;
				$('.num_show').val(iNum).blur();
            });
			// 数量-1
			$('.minus').click(function () {
				var iNum = parseInt($('.num_show').val());
				iNum --;
				$('.num_show').val(iNum).blur();
            });


			// 加入购物车
			$('#add_cart').click(function(){
				var iVal = parseInt($('.num_show').val());  // 商品数量
				var g_id = {{ goods.id }};  // 商品id

			    // 判断是否登录
				$.get('/user/is_login/', function (data) {
					if (data.is_login) {  // 已经登录
					    // 将商品加入到购物车中
						$.get('/cart/add/', {'g_id': g_id, 'g_num': iVal}, function (data) {

							if (data.is_add) {  // 添加成功，播放加入购物车动画

								// 获取小圆点div位置
							    var $add_x = $('#add_cart').offset().top;
                                var $add_y = $('#add_cart').offset().left;

                                // 获取小圆点需要到的地方位置
                                var $to_x = $('#show_count').offset().top;
                                var $to_y = $('#show_count').offset().left;

								// 设置小圆点的css样式，并让小圆点显示出来
                                $(".add_jump").css({'left': $add_y + 80, 'top': $add_x + 10, 'display': 'block'});
                                // 小圆点执行动画
                                $(".add_jump").stop().animate({
                                    'left': $to_y + 7,
                                    'top': $to_x + 7},
                                    "fast", function() {
                                    	// 小圆点淡出动画执行后，执行回调函数，改变购物车中的数量
                                        $(".add_jump").fadeOut('fast',function(){
                                            // 设置购物车中商品数量
											$.get('/cart/count/', function (data) {
											    if (data.count != '0') {
											        $('#show_count').html(data.count);
												}
                                            });
                                        });
                                });
							}
							else {
//							    alert('添加失败')
							}
                        });
					}
					else {
					    window.location.href = '/user/login/'
					}
                });


			});
        });
	</script>
{% endblock head %}

{% block goods_nav %}
	<div class="breadcrumb">
		<a href="">全部分类</a>
		<span>></span>
		<a href="/goods/list/{{t_name.g_type_id}}/">{{ t_name.g_type }}</a>
		<span>></span>
		<a href="##">商品详情</a>
	</div>
	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{ goods.g_pic }}"></div>
		<div class="goods_detail_list fr">
			<h3>{{ goods.g_title }}</h3>
			<p>{{ goods.g_subtitle }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ goods.g_price }}</em></span>
				<span class="show_unit">单  位：{{ goods.g_unit }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>
					<input type="hidden" id="g_stock" value="{{ goods.g_stock }}">
				</div>
			</div>
			<div class="total">总价：<em>{{ goods.g_price }}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>
			</div>
		</div>
	</div>
{% endblock goods_nav %}

{% block goods_detail %}
	<div class="r_wrap fr clearfix">
		<ul class="detail_tab clearfix">
			<li class="active">商品介绍</li>
			<li>评论</li>
		</ul>
		<div class="tab_content">
			<dl>
				<dd>{{ goods.g_content|safe }}</dd>
			</dl>
		</div>
	</div>
	<div class="add_jump"></div>
{% endblock goods_detail %}

