{% extends 'app_goods/base.html' %}

{% block head %}
	{{ block.super }}

	<script>

		// 加入购物车
		function addCart(gid) {
			// 判断用户是否登录
			$.get('/user/is_login', function (data) {
				if (data.is_login) {  // 已经登录 data.is_login = 1
					// 将当前商品添加到购物车中
					$.get('/cart/add/', {'g_id': gid}, function (data) {
						if (data.is_add) {  // 添加成功
						    // 获取小圆点div位置
							var $add_x = $('.add_goods').offset().top;
							var $add_y = $('.add_goods').offset().left;

							// 获取小圆点需要到的地方位置
							var $to_x = $('#show_count').offset().top;
							var $to_y = $('#show_count').offset().left;

							// 设置小圆点的css样式，并让小圆点显示出来
							$(".add_jump").css({'left': $add_y + 80, 'top': $add_x + 10, 'display': 'block'});
							// 小圆点执行动画
							$(".add_jump").stop().animate({
								'left': $to_y + 7,
								'top': $to_x + 7},
								"fast", function() {
									// 小圆点淡出动画执行后，执行回调函数，改变购物车中的数量
									$(".add_jump").fadeOut('fast',function(){
										// 设置购物车中商品数量
										$.get('/cart/count/', function (data) {
											if (data.count != '0') {
												$('#show_count').html(data.count);
											}
										});
									});
							});
						}
						else {
						    alert('添加失败');
						}
                    });
				}
				else {
				    window.location.href = '/user/login/';
				}
            });
        }
	</script>

{% endblock head %}

{% block goods_nav %}
	<div class="breadcrumb">
		<a href="">全部分类</a>
		<span>></span>
		<a href="##">{{ t_list.g_title }}</a>
	</div>
{% endblock goods_nav %}

{% block goods_detail %}
	<div class="r_wrap fr clearfix">
		<div class="sort_bar">
			<a href="/list/{{ t_list.id }}/1?order=0" {% if order == '0' %} class="active" {% endif %}>默认</a>
			<a href="/list/{{ t_list.id }}/1?order=1&desc={% if desc == '1' %}0{% else %}1{% endif %}" {% if order == '1' %} class="active" {% endif %}>价格</a>
			<a href="/list/{{ t_list.id }}/1?order=2" {% if order == '2' %} class="active" {% endif %}>人气</a>
		</div>

		<ul class="goods_type_list clearfix">
			{% for goods in page %}
				<li>
					<a href="/detail/{{ goods.id }}"><img src="/static/{{ goods.g_pic }}"></a>
					<h4><a href="/detail/{{ goods.id }}">{{ goods.g_title }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ goods.g_price }}</span>
						<span class="unit">{{ goods.g_price }}/{{ goods.g_unit }}</span>
						<a href="javascript:addCart({{ goods.id }});" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
			{% endfor %}
		</ul>
		<div class="pagenation">
			{% if page.has_previous %}
				<a href="/list/{{ t_list.id }}/1?order={{ order }}&desc={{desc}}">首页</a>
				<a href="/list/{{ t_list.id }}/{{ page.number|add:-1 }}?order={{ order }}&desc={{desc}}">&lt;上一页</a>
			{% else %}
				<a>首页</a>
				<a>&lt;上一页</a>
			{% endif %}

			{% for p_index in page_range %}
				{% if p_index == page.number %}
					<a href="##" class="active">{{ p_index }}</a>
				{% else %}
					<a href="/list/{{ t_list.id }}/{{ p_index }}?order={{ order }}&desc={{desc}}" >{{ p_index }}</a>
				{% endif %}
			{% endfor %}

			{% if page.has_next %}
				<a href="/list/{{ t_list.id }}/{{ page.number|add:1 }}?order={{ order }}&desc={{desc}}">下一页&gt;</a>
				<a href="/list/{{ t_list.id }}/{{ page.paginator.num_pages }}?order={{ order }}&desc={{desc}}">尾页</a>
			{% else %}
				<a>下一页&gt;</a>
				<a>尾页</a>
			{% endif %}
		</div>
	</div>
	<div class="add_jump"></div>
{% endblock goods_detail %}