{% extends 'base.html' %}

{% block head %}
	<script>
		$(function () {
			var iStock = parseInt($('#stock').val());  // 商品库存
			var iTotal = 0;  // 总计

			// 循环遍历所有的商品ul
			$('.cart_list_td').each(function () {
				var iPrice = parseFloat($('.col05').text());  // 获取当前商品的单价
				var iNum = parseInt($('.num_show').val());  // 获取当前商品数量
				alert(iPrice);
				alert(iNum);
				var iSubTotal = iPrice * iNum;  // 该商品小计
				$('.col07').text(iSubTotal.toFixed(2));  // 设置该商品小计，保留2位小数
            });
        });
	</script>
{% endblock head %}

{% block body_main %}
	<div class="total_count">全部商品<em>2</em>件</div>	
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>

	{% for cart in carts %}
	<ul class="cart_list_td clearfix">
		<li class="col01"><input type="checkbox" name="" checked></li>
		<li class="col02"><img src="/static/{{ cart.goods.g_pic }}"></li>
		<li class="col03">{{ cart.goods.g_title }}<br><em>{{ cart.goods.g_price}}/{{ cart.goods.g_unit }}</em></li>
		<li class="col04">{{ cart.goods.g_unit }}</li>
		<li class="col05">{{ cart.goods.g_price }}/li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" class="add fl">+</a>
				<input type="text" class="num_show fl" value="{{ cart.count }}">
				<input type="hidden" id="stock">
				<a href="javascript:;" class="minus fl">-</a>	
			</div>
		</li>
		<li class="col07">25.80元</li>
		<li class="col08"><a href="javascript:;">删除</a></li>
	</ul>
	{% endfor %}

	<ul class="settlements">
		<li class="col01"><input type="checkbox" name="" checked=""></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em>42.60</em><br>共计<b>2</b>件商品</li>
		<li class="col04"><a href="../place_order.html">去结算</a></li>
	</ul>
{% endblock body_main %}