{% extends 'base.html' %}

{% block head %}
	<script>
		$(function () {

			var iTotal = 0;  // 商品总计

			// 循环遍历所有的商品ul
			$('.cart_list_td').each(function () {

				var iPrice = parseFloat($(this).children('.col05').text());  // 获取当前商品的单价
				var iNum = parseInt($(this).find($('.num_show')).val());  // 获取当前商品数量
				var iSubTotal = iPrice * iNum;  // 该商品小计
				$(this).find($('.col07')).text(iSubTotal.toFixed(2) + '元');  // 设置该商品小计，保留2位小数
				iTotal += iSubTotal;  // 商品总价计算
				$('.settlements em').text(iTotal.toFixed(2));  // 赋值总价
				$('.settlements b').text($(':checked').not('#chb_all').length);  // 设置选中的商品个数


				// 输入框用户填写具体商品数量
				$(this).find('.num_show').blur(function () {
				    var iTotal = 0;
				    var iNum = parseInt($(this).val());  // 当前数量
					var iStock = $(this).nextAll('.stock').val();  // 当前商品库存

					// 调用功能函数进行校验，得到的数量就是合格的
					var ig_Num = fnCheckNum(iNum, iStock);
					var ig_id = $(this).nextAll('.g_id').val();  // 当前商品id

					// 调用功能函数进行ajax请求
					fnHandleAjax(ig_id, ig_Num);

					$(this).val(ig_Num);  // 重新赋值商品数量
					var iSubTotal = iPrice * ig_Num;  // 该商品小计
					$(this).parents('.col06').next().text(iSubTotal.toFixed(2) + '元');  // 商品小计
                });

				// 点击+ 让数量+1
				$(this).find('.add').click(function () {
				    var iNum = parseInt($(this).nextAll('.num_show').val());  // 当前文本框中数量
					var iStock = parseInt($(this).nextAll('.stock').val());  // 当前商品库存
					var ig_id = $(this).nextAll('.g_id').val();  // 当前商品id
					iNum++;
					var ig_Num = fnCheckNum(iNum, iStock);  // 校验通过的商品数量

					// ajax请求改变商品数量
					fnHandleAjax(ig_id, ig_Num);

					$(this).nextAll('.num_show').val(ig_Num);  // 重新赋值文本框数量
					var iSubTotal = iPrice * ig_Num;  // 该商品小计
					$(this).parents('.col06').next().text(iSubTotal.toFixed(2) + '元');
                });

				// 点击- 让数量-1
				$(this).find('.minus').click(function () {
					var iNum = parseInt($(this).prevAll('.num_show').val());  // 当前文本框中数量
					var iStock = parseInt($(this).prevAll('.stock').val());  // 当前商品库存
					var ig_id = $(this).prevAll('.g_id').val();  // 当前商品id
					iNum--;
					var ig_Num = fnCheckNum(iNum, iStock);  // 校验通过的商品数量

					// ajax请求改变商品数量
					fnHandleAjax(ig_id, ig_Num);

					$(this).prevAll('.num_show').val(ig_Num);  // 重新赋值文本框数量
					var iSubTotal = iPrice * ig_Num;  // 该商品小计
					$(this).parents('.col06').next().text(iSubTotal.toFixed(2) + '元');
                });


				// 删除当前购物车对象所在记录
				$(this).find('.delete ').click(function() {
					var cart_id = $(this).next().val();  // 获取当前购物车对象的id
					if (confirm('您确认要删除该商品吗？')) {
                        $.get('/cart/delete/', {'cart_id': cart_id}, function (data) {
                            if (data.is_delete == '1') {
                                $('#' + cart_id).remove();
                            }
                        });
                    }
				});
            });


			// 全选与反选复选框
			$("#chb_all").click(function(){
				var isChecked = $(this).prop("checked");
				$("input[type='checkbox']").prop("checked", isChecked);
				$('.settlements b').text($(':checked').not('#chb_all').length);
			});

			// 复选框选中商品，价格发送变化
			$('input[type="checkbox"]').each(function(index, el) {
			    if ($(':checked:not(#chb_all)').length == $(':checkbox:not(#chb_all)').length) {
			        $('#chb_all').prop('checked', true);
				}
				else {
			        $('#chb_all').prop('checked', false);
				}
				var ag_id = [];
				$(this).click(function() {
					// 设置显示选中的商品数量
					$('.settlements b').text($(':checked').not('#chb_all').length);
					// 当前选中商品的id
					var ig_id = $(this).parent().nextAll('.col06').find('.g_id').val();
					var ig_Num = $(this).parent().nextAll('.col06').find('.num_show').val();

					ag_id.push(ig_id);
					// alert(ag_id);
					// alert(1)
					// 判断当前复选框是否选中
					if ($(this).is(":checked")) {  // 选中
						fnHandleAjax(ig_id, ig_Num);
					}
					else {
						fnHandleAjax(ig_id, ig_Num, '1');
					}
					//
				});

			});


			/**
			 * 功能函数判断用户输入的商品数量是否合格
			 * @param  {int} iNum   用户填写的商品数量
			 * @param  {int} iStock 该商品库存
			 * @return {int}        格式正确的商品数量
			 */
			function fnCheckNum(iNum, iStock) {
				if (iNum < 1) {
					iNum = 1;
				}
				else if (iNum > iStock) {
					iNum = iStock;
				}
				else if (isNaN(iNum)) {
					iNum = 1;
				}
				return iNum;
			}


			/**
			 * ajax请求函数
			 * @param  {int} g_id  商品id
			 * @param  {int} g_num 商品数量
			 * @return {[type]}       [description]
			 */
			function fnHandleAjax(g_id, g_num, operate='0') {
				//  将重新得到的商品数量传到服务器中进行更改，更改成功在重新再浏览器中显示
				$.get('/cart/handle/', {'g_id': g_id, 'g_num': g_num, 'operate': operate}, function (data) {
					if (data.result == '1') {
						$('.settlements em').text(data.total);  // 商品总价
//                            $(this).val(iNum);  // 重新赋值商品数量
						// var iSubTotal = iPrice * g_num;  // 该商品小计
						// $(this).parents('.col06').next().text(iSubTotal.toFixed(2) + '元');  // 商品小计
					}
				});
			}
        });
	</script>
{% endblock head %}

{% block body_main %}
	<div class="total_count">全部商品<em>{{ carts.count }}</em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>

	{% for cart in carts %}
	<form method="post" action="/cart/order/">
		{% csrf_token %}
        <ul class="cart_list_td clearfix" id="{{ cart.id }}">
            <li class="col01"><input type="checkbox" name="cart_id" value="{{ cart.id }}" checked="checked"></li>
            <li class="col02">
                <a href="/detail/{{ cart.goods_id }}/"><img src="/static/{{ cart.goods.g_pic }}"></a>
            </li>
            <li class="col03">{{ cart.goods.g_title }}<br><em>{{ cart.goods.g_price}}/{{ cart.goods.g_unit }}</em></li>
            <li class="col04">{{ cart.goods.g_unit }}</li>
            <li class="col05">{{ cart.goods.g_price }}元</li>
            <li class="col06">
                <div class="num_add">
                    <a href="javascript:;" class="add fl">+</a>
                    <input type="text" class="num_show fl" value="{{ cart.count }}">
                    <input type="hidden" class="stock" value="{{ cart.goods.g_stock }}">
                    <input type="hidden" class="g_id" value="{{ cart.goods_id }}">
                    <a href="javascript:;" class="minus fl">-</a>
                </div>
            </li>
            <li class="col07">25.80元</li>
            <li class="col08">
                <a href="javascript:;" class="delete">删除</a><input type="hidden" value="{{ cart.id }}">
            </li>
        </ul>
        {% endfor %}

        <ul class="settlements">
            <li class="col01"><input type="checkbox" id="chb_all" checked="checked"></li>
            <li class="col02">全选</li>
            <li class="col03">合计(不含运费)：<span>¥</span><em>0</em><br>共计<b>0</b>件商品</li>
            <li class="col04"><input type="submit" value="去结算" /></li>
        </ul>
	</form>
{% endblock body_main %}
